body h1 {

    /* padding-left:700px; */
    padding-top:100px;
    text-align: center;
}

body canvas {
    border: 1px solid black;
    display: flex;
    height:50vh;
    margin-left: 570px;
}
